$mat-yellow: (
  50 : #fff6e0,
  100 : #fee8b3,
  200 : #fdd980,
  300 : #fcca4d,
  400 : #fcbe26,
  500 : #fbb300,
  600 : #faac00,
  700 : #faa300,
  800 : #f99a00,
  900 : #f88b00,
  A100 : #ffffff,
  A200 : #fff5eb,
  A400 : #ffdcb8,
  A700 : #ffd09f,
  contrast: (
    50 : #424242,
    100 : #424242,
    200 : #424242,
    300 : #424242,
    400 : #424242,
    500 : #424242,
    600 : #424242,
    700 : #424242,
    800 : #424242,
    900 : #424242,
    A100 : #424242,
    A200 : #424242,
    A400 : #424242,
    A700 : #424242,
  )
);

$mat-gray: (
  50 : #e8e8e8,
  100 : #c6c6c6,
  200 : #a1a1a1,
  300 : #7b7b7b,
  400 : #5e5e5e,
  500 : #424242,
  600 : #3c3c3c,
  700 : #333333,
  800 : #2b2b2b,
  900 : #1d1d1d,
  A100 : #ece9e9,
  A200 : #e3e3e3,
  A400 : #d7d7d7,
  A700 : #c2c2c2,
  contrast: (
    50 : #424242,
    100 : #424242,
    200 : #424242,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #424242,
    A200 : #424242,
    A400 : #424242,
    A700 : #424242,
  )
);

$mat-white: (
  50 : #fdfdfd,
  100 : #f9fafb,
  200 : #f6f7f8,
  300 : #f2f4f5,
  400 : #eff1f3,
  500 : #eceff1,
  600 : #eaedef,
  700 : #e7ebed,
  800 : #e4e8eb,
  900 : #dfe4e7,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #424242,
    100 : #424242,
    200 : #424242,
    300 : #424242,
    400 : #424242,
    500 : #424242,
    600 : #424242,
    700 : #424242,
    800 : #424242,
    900 : #424242,
    A100 : #424242,
    A200 : #424242,
    A400 : #424242,
    A700 : #424242,
  )
);


