@import '~@angular/material/theming';
@import 'styles/mat-pallete-theme';

@include mat-core();

$test-theme-primary: mat-palette($mat-yellow);
$test-theme-accept: mat-palette($mat-gray);
$test-theme-warn: mat-palette($mat-red);
$test-theme: mat-light-theme(
  $test-theme-primary,
  $test-theme-accept,
  $test-theme-warn
);
